NatifeTestTask/NatifeTestTask.xcodeproj/project.xcworkspace/xcuserdata/lexus.xcuserdatad/UserInterfaceState.xcuserstate
NatifeTestTask/NatifeTestTask.xcodeproj/xcuserdata/lexus.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints_v2.xcbkptlist

Package.resolved
